extends layout

block content
  h1= title
  p Welcome to #{title}
  p News: <br>
  ul
      each val in news
          li 
              ul
                  li= val['title']
                  li= val['url']
                  li= val['text']
  p <br> Users: <br> 
  ul
      each val in users
          li
              ul
                  li= val['name']
                  li= val['email']
                  li= val['password']
  p #{user} hello
  if user
      span: a(href='/logout') Logout<br>
  else
      span: a(href='/reg') Register/Login<br>
  span: a(href='/users') Users <br>
  span: a(href='/blogs') Blogs <br>
  span: a(href='/submit') Submit <br>
